@page "/HistorialModificaciones"

@inject SicemService sicemService
<div class="histLayout">
    <div class="title-page text-uppercase" style="grid-area:1/1/2/2;">HISTORIAL DE MODIFICACIONES</div>
    <p>No Implementado</p>
</div>