.panelBusqueda {
    display: flex;
    align-items: center;
}
    .panelBusqueda .sInput{
        display: flex;
        justify-content: center;
    }
        .panelBusqueda .sInput label{
            font-size:1.2.rem;
            color: #444;
        }
    .panelBusqueda .sInput.cbOficinas{
        width:280px;
    }
    .panelBusqueda .sInput.btnBusqueda{
        width:170px;
        margin-left: auto;
        margin-right: .25rem;
    }


.label-header {
    font-size: 14px;
    background-color: var(--mdc-theme-secondary);
    color: white;
    padding: 0rem 1rem;
}
.grid-root {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(40rem, 1fr);
    grid-template-rows: 23rem 28rem 19rem auto;
    grid-gap: 0.4rem 0.4rem;
    overflow-x: auto;
}
    .grid-root input {
        padding: .2rem .5rem;
    }

    .grid-root .panelConceptos{
        grid-area: 1/2/3/3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto minmax(20rem,1fr) 140px;
    }
    .grid-root .panelConceptos tr.totalRow{
        color: #444;
        font-size:1.3rem;
    }

.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
    background: var(--mdc-theme-secondary) !important;
    border-color: var(--mdc-theme-secondary) !important;
}

.e-tab.e-fill .e-tab-header {
    border-bottom: 2px solid var(--mdc-theme-secondary) !important;
}

@media only screen and (max-width: 800px) {
    .panelBusqueda{
        
        align-items: flex-start;
        justify-content: stretch;
        gap:.5rem 0rem;
    }
        .panelBusqueda .sInput.cbOficinas, .panelBusqueda .sInput.btnBusqueda, .panelBusqueda .sInput.tbCuenta{
            width:100%;
        }

    .grid-root {
        display: flex;
        flex-flow: column;
        overflow-x: none;
    }

        .grid-root .grid-dg, .grid-root .grid-df, .grid-root .grid-dcu{
            display: flex;
            flex-flow: column;
            grid-gap: 1rem 0.2rem;
        }

        .grid-root .panelConceptos tr.totalRow{
            font-size:1rem;
        }

    .disableOnMobil{
        display: none !important;
    }
}