ul.tabComponent {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #DAE0E7;
	background: #F9F9F9;
	list-style-type: none;
	padding:12px 12px 0;
}

.tab {
	float: left;
	height: 44px;
	margin: 0 8px -1px 0;
	border: 1px solid #DAE0E7;
 background: #F9F9F9;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tab, .tab a {
	transition: all .25s;
}

.tab a {
	display: block;
	padding: 12px 20px;
 white-space: nowrap;
	text-decoration: none;
	color: #333;
}

.tab:hover {
	background: #fff;
}

.tabSelected {
	height: 45px;
	border-bottom: none;
	background: #fff;
}